		body {
			margin: 0;
			padding: 0;

			text-align: center;
			font-family: Verdana;

			position: absolute;
			top: 0;
			left: 0;
			bottom:0;
			right: 0;
			
			overflow: hidden;
			background-color: #cdaa7d;
		}
	
	ul {
		    list-style-type: none;
		    padding-left: 40px;
		    overflow: hidden;
		    background-color: #eedfcc;
			}
 
 	li a:hover {
		    background-color: #cdaa7d;
		    color: white;
		}

		#flow {
			height:100%;
		}
		#contenido{						
			background-color: #cdaa7d;
			overflow: auto!important;
		}

	#peniscola{
		
				}

	h3{
		padding: 0;
		margin: 0;
	}



/* Mobil */
@media only screen and (max-width: 767px) and (orientation: portrait)
	{
		ul {
		    list-style-type: none;
		    padding-left: 40px;
		    overflow: hidden;
			}

		li {
		    float: left;
			}

		li a {
		    display: block;
		    color: black;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
			}



		#peniscola{
			height: 10%;
			background-image: url("img/castillo2.jpg");
			background-repeat: no-repeat;
			background-size:100% auto;
			}

		#indice{
			background-color: #eed5b7;
			height: 20%;
			margin: 0;			
			}

		.titulo{			
			height: 50px;
			background-color: #ffefdb;
			text-align: center;
			padding-top: 200px;			
			text-align: center;	
						}
		
		#contenido{
			height: 80%;
			}		
		
		.clearfix {
			height: 100px;
			clear:both;
			}
	}


@media only screen and (max-width: 767px) and (orientation: landscape)
	
	{
		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    width: 100%;
		    background-color: #cdaa7d;
		}

		li a {
		    display: block;
		    color: #000;
		    padding: 8px 16px;
		    text-decoration: none;
		}


		#peniscola{
			height: 20%;
			background-image: url("img/castillo2.jpg");
			background-position: 0 -10px;
			background-repeat: no-repeat;
			}

		#indice{background-color: #eed5b7;
			height: 80%;
			width: 20%;
			float: left;
			}

		#contenido{
			width: 80%;
			height: 80%;
			float: left;
		}

		.titulo{
			width: 40%;
			height: 50px;
			margin: 5px;
			background-color: #ffefdb;
			text-align: center;
			padding-top: 200px;	
			float: left;			
		} 	

		.clearfix {
			height: 70px;
			clear:both;
		}
	}
		
	
	

/* Escriptori */
@media only screen and (min-width: 768px)
	{
		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    width: 100%;
		    background-color: #cdaa7d;
		}

		li a {
		    display: block;
		    color: #000;
		    padding: 8px 16px;
		    text-decoration: none;
		}



		#peniscola{
			
			height: 20%;
			background-image: url("img/castillo.jpg");
			background-position: 0 -40px;
			background-repeat: no-repeat;
			}

		#indice{
			background-color: #eed5b7;
			height: 80%;
			width: 20%;
			float: left;
			}

		#contenido{
			width: 80%;
			height: 80%;
			float: left;

			}

		.clearfix {
			height: 10px;
			clear:both;
			}
		.titulo{
			width: 40%;
			height: 50px;
			margin: 5px;
			background-color: #ffefdb;
			text-align: center;
			padding-top: 200px;
			float: left;			
			} 	
	}


